/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    padding-top: 80px; /* Add padding to account for the fixed header */
}

header {
    background: linear-gradient(90deg, #F7C6C7 0%, #A2C2E4 100%, #C3E5E7);
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

.logo-container {
    display: flex;
    align-items: left;
}

.logo-container img {
    height: 100px;
    margin-right: 15px; 
}

nav ul {
    list-style: none;
    display: flex;
    padding: auto;
    align-items: right;
    height: 10px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s, text-shadow 0.3s;
    line-height: 1;
}

nav ul li a:hover {
    color: #333;
    text-shadow: 0 2px 4px rgba(15, 1, 48, 0.3);
}

/* Hero Section */
.hero {
    background: url('JH1.jpg') no-repeat center center/cover;
    color: #fff;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 70px; /* Ensures it's below the fixed header */
    overflow: hidden;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    animation: fadeIn 2s ease-out;
}

.hero h2 {
    font-size: 4rem;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}

.hero p {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.appointment{
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
  }
  
  #btn:hover,
  :focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
  }
  

.services {
    background: #f7f7f7;
    padding: 60px 20px;
}

.services h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.services-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.service-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    padding: 20px;
    flex: 1;
    min-width: 380px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.service-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 100%;
    margin: 0 auto 20px;
}

.hair{
    background-image:url('https://i.pinimg.com/736x/0a/b8/8b/0ab88b43c2e29785ef1c62f918074aae.jpg');
}

.makeup {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230615/pngtree-woman-posing-with-pink-makeup-image_2899181.jpg');
}

.Nails {
    background-image: url('https://media.glamourmagazine.co.uk/photos/63d7a20591169f26c6899dcd/16:9/w_1920,h_1080,c_limit/COQUETTE%20MANI%20300123%20default-sq.jpg');
}
.mehendi {
    background-image: url('https://i.pinimg.com/originals/c7/59/ea/c759ea888dcc1c0ff6d9a6a4a3b1f591.jpg');
}
.Waxing {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAdzMlDK4_DrvMiJT5FEMlE50CK6trCymi2A&s');
}
.Threading {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaZOCJZzqJ9JCpGOhLG17ts82KB-gVmMpaSg&s');
}
.Facial{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQo0JaihV4vZi2xaBkF9dOZbZhETcq-mr6PA&s');
}
.MP{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDKc6PTiCrGWnQSfP-PIsm3D6-mRzs9Ki0zg&s');
}
.about {
    padding: 60px 20px;
}
.work {
    background: #f7f7f7;
    padding: 60px 20px;
}

.work h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.work-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.work-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    padding: 20px;
    flex: 1;
    min-width: 280px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.work-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.work-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
    width: 80px;
    margin: 0 auto 20px;
}

.hair{
    background-image:url('https://i.pinimg.com/736x/0a/b8/8b/0ab88b43c2e29785ef1c62f918074aae.jpg');
}
.hairs{
    background-image:url('https://i.pinimg.com/736x/0a/b8/8b/0ab88b43c2e29785ef1c62f918074aae.jpg');
}
.about {
    padding: 60px 20px;
}

.about h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.contact {
    background: linear-gradient(90deg,  #F7C6C7 0%, #A2C2E4 100%,#C3E5E7) 100%;
    padding: 60px 20px;
}

.contact h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    margin-bottom: 15px
}
.text-container {
    display: flex;
    flex-direction: column; 
   align-items: left;
}
.text-container h1 {
    white-space: nowrap;
    font-family: "Great Vibes", cursive;
    font-size: 2em; 
    margin: 0;
    align-content: left;
    color: black;
}

.text-container h2 {
    font-family: 'Georgia', serif;
    white-space: nowrap;
    font-size: 1em; 
    margin: 0;
    align-content: left;
    color: black;
}
footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.social-icons img {
    width: 40px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.contact-info p {
    margin: 5px 0;
}

.footer-bottom {
    margin-top: 10px;
    border-top: 1px solid #34495e;
    padding-top: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    outline: none;
}

.dropbtn:hover {
    background-color: #333;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:last-child {
    border-bottom: none;
}
/* From Uiverse.io by javierBarroso */ 
.parent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .child {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 0.3s cubic-bezier(0.68, 0.85, 0.265, 1.85);
    border-radius: 5px;
    margin: 0 5px;
    box-shadow:
      inset 1px 1px 2px #fff,
      0 0 5px #4442;
  }
  
  .child:hover {
    background-color: white;
    background-position:
      -100px 100px,
      -100px 100px;
    /*transform: rotate3d(0.5, 1, 0, 30deg);*/
    transform: perspective(180px) rotateX(60deg) translateY(2px);
  }
  
  .child-2:hover {
    box-shadow: 0px 10px 10px #ff00ff;
  }
  .child-4:hover {
    box-shadow: 0px 10px 10px #4267b2;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    gap: 15px;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
  }
  
  .image-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .image-box:hover img {
    transform: scale(1.1);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-box:hover .overlay {
    opacity: 1;
  }
  
  .overlay p {
    font-size: 18px;
    font-weight: bold;
  }
  
  .tall {
    grid-row: span 2;
  }
  
  .wide {
    grid-column: span 2;
  }
  .instagram-link {
    display: inline-flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 30px;
    transition: all 0.3s ease;
  }
  
  .instagram-link svg {
    margin-right: 10px;
    transition: transform 0.3s ease;
  }
  
  .instagram-link:hover {
    color: #e1306c;
    border-color: #e1306c;
  }
  
  .instagram-link:hover svg {
    transform: scale(1.2);
  }
  .footer-container {
    text-align: center;
    justify-content: center;
    padding: 20px;
    color: #fff;
  }
  /* General Styles */
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav {
        display: none; /* Hide navigation initially */
        position: absolute;
        top: 100%;
        right: 0;
        background-color: white;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        padding: 10px 20px;
        border-top: 1px solid #ccc;
    }

    nav.active {
        display: flex; /* Show navigation when active */
    }

    .menu-toggle {
        display: flex; /* Show toggle button */
    }
}
